@model List<BatteryCharge.Models.Device>
@{
    ViewData["Title"] = "ChargeTimes";
}

<div class="text-center whiteTextWithShadow">
    <h1>ChargeTimes</h1>
    <p>Track when a bettery needs to be charged</p>
    <h5>@DateTime.Now.ToShortDateString() </h5>
    <hr class="whiteText" />
</div>

<div class="row text-center">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="lightBluePanel">
                <h3>@item.Name</h3>
                <h5>Last Charge: @item.LastRechargeDate.ToShortDateString()</h5>
                <hr />
                <h2 class="@( @ViewBag.DaysSinceLastRecharge[@Model.IndexOf(item)] >= item.RechargeCycle ? "alertText" : "" )">
                    @ViewBag.DaysSinceLastRecharge[@Model.IndexOf(item)] /
                    @item.RechargeCycle days
                </h2>

                <hr />
                <a class="btn btn-primary" asp-action="UpdateLastChargeDateToCurrentDate" asp-route-id="@item.Id">Charged Today</a>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </div>
        </div>
    }
</div>

