@model List<BatteryCharge.Models.Device>
@{
    ViewData["Title"] = "ChargeTimes";
}

<div class="text-center whiteTextWithShadow">
    <h1>ChargeTimes</h1>
    <p style="padding:0px;">Track when a bettery needs to be charged</p>
    <h5>@DateTime.Now.ToShortDateString() </h5>
    <hr style="color:white" />
</div>

<div class="row text-center">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="lightBluePanel">
                <h3>@item.Name</h3>
                <h5>Last Charge: @item.LastRechargeDate.ToShortDateString()</h5>
                <hr />
                @if (@ViewBag.DaysSinceLastRecharge[@Model.IndexOf(item)] >= item.RechargeCycle)
                {
                    <h1 style="color:red">
                        @ViewBag.DaysSinceLastRecharge[@Model.IndexOf(item)] /
                        @item.RechargeCycle days
                    </h1>
                }
                else
                {
                    <h1>
                        @ViewBag.DaysSinceLastRecharge[@Model.IndexOf(item)] /
                        @item.RechargeCycle days
                    </h1>
                }
                <hr />
                <a class="btn btn-primary" asp-action="UpdateLastChargeDateToCurrentDate" asp-route-id="@item.Id">Charged Today</a>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </div>
        </div>
    }
</div>

