@model IEnumerable<BatteryCharge.Models.Device>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryReplacmentCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBought)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryVoltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastRechargeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RechargeCycle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryReplacmentCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBought)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryVoltage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastRechargeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RechargeCycle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
